*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



/* ---------first page--------- */



.front-page{
    color: #575757;
    display: flex;
}
.title{
    width: 50%;
    height: 100vh;
    margin-top: 140px;
    padding-left: 4%;
}
span{
    color:#FB8D48 ;
}
.title h1{
  font-size: 60px;  
}
.front-page .title p{
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    color: ash ;
}
.button{
    padding: 22px 50px;
    background-image: linear-gradient(to right,#FA994C,#FD482D) ;
    text-decoration: none;
    color: white;
    margin-top: 40px ;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 0px 6px 2px #FA994C;
    display: inline-block;
}
.title img{
    width: 100%;
    height: 100%;
    margin-top: -80px;
}


/*------- second page----------- */


.second-page{
    display: flex;
    background: url(img/Frame\ 57.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.second-page img{
    height: 90vh;
    width: 90%;
    margin-left: 10%;
}
.profile{
    padding:30px 0;
    font-weight: 500;
    font-size: 20px;
}


/* --------------Third page-------------- */

.third-page{
    background-image: linear-gradient(rgba(0,0,0,0.1),#009688);
}
.third-page h1{
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    padding-left: ;
    }
    
    .expert-profile{
        display: flex;
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
        
    }
    .profile-details {
        width: 22%;
    height: 90%;
        box-shadow: 0px 0px 10px 0px;
        border-radius: 10px;
        margin: 40px;
        padding-bottom: 3%;
    
    }
    .profile-details img{
        height: 33%;
        width: 90%;
        border-radius: 10px;
        padding: 5%;
    }
    .profile-details h3{
        text-align: left;
        padding: 0 15px;
    }
    .profile-details p{
    padding-left: 15px;
        font-size: 15px;
        text-align: left;
    }



/* -----------Fourth page------------ */

.fourth-page .recepie-details{
    display: block;
}

.fourth-page h1{
text-align: center;
font-size: 50px;
padding-top: 20px;
}
.fourth-page p{
    padding: 20px 70px 0px 70px;
    font-size: 20px;
    text-align: left;
}
.menu-box{
    display: flex;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    
}
.menu {
    width: 30%;
height: 90%;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 30px;
    margin: 40px;
    padding-bottom: 3%;

}
.menu img{
    height: 33%;
    width: 90%;
    border-radius: 30px;
    padding: 5%;
}
.menu h3{
    text-align: left;
    padding: 0 15px;
}
.menu p{
    text-align: left;
    padding: 0 15px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.social{
    width: 90%;
    height: 30%;
    box-shadow: 0 0 10px 0;
    display: flex;
    border-radius: 20px;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.social .social-item{
    width: 30%;
    height: 70%;
    align-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.social .social-item h1{
    text-align: center;
}
.social .social-item p{
text-align: center;
}
.copyright{
    padding: 2%;
}


/* ---------fifth page-------- */



#testimonial{
    width:100% ;
    padding-top: 70px ;
    background-image: linear-gradient(white,#FFBE00);
    background-size: cover;
    margin-top: 20px;
    
}
.title-text{
    text-align: center;
    padding-bottom: 70px;

}
.title-text h1{
    margin: auto;
    font-size: 50px;
    font-weight: bold;

    display: inline-block;

}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0px #009688;
    cursor: pointer;
}
.testimonial-col p{
    font-size: 14px;

}
.user{
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
.user img{
        width: 40px;
        margin-right: 20px;
        border-radius: 3px;
    }
.user-info small{
        color: #009688;
    }


/* -------------footer------------ */



.footer{
    text-align: center;
    background: #EBF8FF;
    width: 100%;
    height: 40%;
    

    display: block;
}
.footer h1{
    font-size: 60px;
}
.footer p{
    color: black;
    font-weight: 500;
    font-size: 22px;
}
